* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Poppins", "sans-serif";
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.67;
    color: #5f5b53;
}
html,
body {
    scroll-behavior: smooth;
}
/* Common */
.content {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
}
.dots{
    column-gap: 6px;
}
.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}
.dot--active{
    background: #FFB900;
    cursor: initial;
}
button {
    cursor: pointer;
    border: none;
}
a {
    text-decoration: none;
}
h1,
h2 {
    font-family: "Sen";
    font-weight: 700;
}
/* Flex */
.d--flex {
    display: flex;
}
.flex--1 {
    flex: 1;
}
.flex--2 {
    flex: 2;
}
.justify__content--center {
    justify-content: center;
}
.justify__content--spbetweens {
    justify-content: space-between;
}
.align__items--center {
    align-items: center;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
/* Gap */
.column__gap--3 {
    column-gap: 30px;
}
/* SPACING */
.px--22 {
    padding-left: 22px;
    padding-right: 22px;
}
.py--16 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.mt-12 {
    margin-top: 12px;
}
.mt-28{
    margin-top: 28px;
}
.mt-55 {
    margin-top: 55px;
}
.ml-3 {
    margin-left: 30px;
}
.btn {
    position: relative;
    display: inline-block;
    min-width: 118px;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    font-size: 1.4rem;
    padding: 13px 16px;
    transition: opacity 0.5s;
}
.btn:hover {
    opacity: 0.9;
}
.btn__color--primary {
    background: #171100;
}
.btn__color--secondary {
    background: #ffb900;
}
.border_circle {
    border-radius: 50%;
}
/* Header */
.header {
    padding: 16px 0;
    position: sticky;
    top: 0px;
    background: #fffcf4;
    z-index: 1000;
}
.header ul {
    gap: 42px;
    margin-right: 70px;
}
.header .header__nav {
    justify-content: space-between;
}

.block__nav li a {
    line-height: 1.75;
    color: #5f5b53;
}
.block__nav li a:hover {
    color: #000;
}
.block__nav li:first-child {
    position: relative;
}
.block__nav li:first-child a {
    font-weight: 600;
    color: #000;
}
.block__nav li:first-child a::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 2px;
    background: #000;
    border-radius: 4px;
    bottom: 0;
    left: 0;
}
.header__btn__cta {
    width: 144px;
    font-weight: 600;
    font-size: 1.6rem;
    color: #ffffff;
    padding: 12px 16px;
}

/* Hero */
.hero {
    padding: 65px 0;
}
.hero__img__block {
    position: relative;
    width: 48%;
}
.hero__img__block .img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}
.hero__summary {
    position: absolute;
    width: 270px;
    height: 244px;
    right: 0;
    bottom: calc(100% * 1 / 10);
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px 0 24px 24px;
    flex-direction: column;
    row-gap: 14px;
}
.hero__summary__row {
    justify-content: start;
    gap: 16px 20px;
}
.hero__summary__row .title {
    font-weight: 600;
    font-size: 1.8rem;
    /* identical to box height, or 167% */
    color: #171100;
}
.hero__summary__icon {
    width: 48px;
    height: 48px;

    background: #fff9e8;
}
.hero__summary .hero__summary__row:nth-child(2) .hero__summary__icon {
    background: #fcefff;
}
.hero__summary .hero__summary__row:last-child .hero__summary__icon {
    background: #ebeaff;
}
.hero__infor {
    margin-top: auto;
    margin-bottom: auto;
    width: 52%;
    padding-left: 130px;
}
.hero__title {
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}
.hero__sub-title {
    margin-top: 22px;
    font-size: 1.8rem;
    color: #5f5b53;
}
.hero__cta__group {
    margin-top: 38px;
}
.hero__cta__btn {
    width: 180px;
    background: #ffb900;
    font-size: 1.8rem;
    border-radius: 32px;
}
.hero__watch__video {
    margin-left: 28px;
    background: #ffffff;
    column-gap: 14px;
}
.hero__icon__play {
    width: 40px;
    height: 40px;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}
.hero__watch__video span {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}
.hero__desc {
    margin-top: 48px;
    font-size: 1.8rem;
}
.hero__stats {
    margin-top: 8px;
    column-gap: 28px;
}
.hero__stats_qty {
    font-family: "Sen";
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    /* identical to box height, or 123% */
    color: #171100;
}

/* Courses */

.courses {
    margin-top: 135px;
    padding: 65px 0;
}
.courses__sub__title {
    font-size: 3.8rem;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #171100;
}
.courses__desc {
    width: 458px;
    margin-top: 16px;
    font-size: 1.8rem;
}
.courses__control {
    column-gap: 18px;
}
.courses__control__btn {
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #ffb900;
    color: #ffb900;
    transition: background-color 0.5s, color 0.5s;
    font-size: 1.6rem;
}
.courses__control__btn:hover {
    background: #ffb900;
    color: #fff;
}
.courses-item {
    border: 1px solid #ccc;
    border-radius: 12px;
}
.courses-item__thumb {
    object-fit: cover;
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    border-radius: 12px 12px 0px 0px;
}
.courses-item__title a {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}
.courses-item__rtvalue {
    margin-left: 6px;
    line-height: 1.8;
    /* identical to box height, or 175% */
    color: #fea31b;
}
.courses-item__desc {
    margin-top: 6px;
    font-size: 1.4rem;
}
.courses-item__price {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}
/* Feedback */
.feedback {
    margin-top: 135px;
    padding: 65px 0;
    background: #2e2100;
}
.feedback-infor__avatar {
    object-fit: cover;
    width: 72px;
    height: 72px;
}
.feedback-infor__name {
    font-family: "Sen";
    font-size: 2.4rem;
    color: #f7f7f7;
}
.feedback-infor__profession {
    line-height: 1.86;
    color: #bfbcb3;
}
.feedback__blockqoutes {
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}
